:root {
  --dark-teal: #007070;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  overflow: hidden scroll;
}

body {
  color: #444;
  background-color: #fff;
  font-size: 16px;
  font-family: Quicksand, sans-serif;
  line-height: 2;
}

main {
  width: 100vw;
  margin: 0 auto;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-weight: 300;
}

nav ul {
  list-style-type: none;
  display: flex;
}

nav ul li {
  margin: 0 10px;
}

section {
  padding: 20px 20px;
  padding-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a.link {
  text-decoration: underline;
}

a.button {
  font-weight: bold;
  color: var(--dark-teal);
}

a.disabled {
  color: #aaa;
  pointer-events: none;
  cursor: default;
}

article {
  display: grid;
  grid-template-columns: 1fr;
  padding: 5px 10px;
  border-right: var(--dark-teal) solid 2px;
  border-bottom: var(--dark-teal) solid 2px;
  border-radius: 10px;
}

article a {
  text-align: right;
}

article p.abstract {
  display: none;
}

@media screen and (min-width: 768px) {
  main {
    width: 85vw;
  }

  header {
    flex-direction: row;
    align-items: baseline;
  }

  nav ul li {
    margin-left: 20px;
  }

  section {
    padding: 20px 40px;
  }

  article {
    grid-template-columns: 7fr 1fr;
    padding: 10px 20px;
  }

  article p.abstract {
    display: block;
    padding: 0 20px;
    color: #888;
    grid-row: 2/3;
  }
}

@media screen and (min-width: 1366px) {
  main {
    width: 60vw;
  }
}
