* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  overflow: hidden scroll;
}

body {
  color: #444;
  background-color: #fff;
  font-size: 16px;
  font-family: Quicksand, serif;
  line-height: 2;
}

h1,
h2 {
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: inherit;
  border-bottom: #444 solid 1px;
}

.stretch {
  display: flex;
  align-items: center;
  width: 100vw;
}

.centre {
  padding: 10vh 20vw;
  background-color: #f7f7f7;
}

.left {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 80px;
}

.btn {
  padding: 10px 20px;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  background-color: white;
  border: #ddd solid 1px;
}

.btn:hover,
.btn:focus {
  border-bottom: #444 solid 1px;
  transition: 400ms;
  cursor: pointer;
}

.home-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

nav .btn {
  width: 100%;
  border: #f7f7f7 solid 1px;
  border-bottom: #ccc solid 1px;
  background-color: #f7f7f7;
}

nav #active {
  border: #ccc solid 1px;
  border-bottom: #fff solid 1px;
  transition: 0ms;
  cursor: default;
  background-color: #fff;
}

.hidden {
  display: none;
}
